.logo
{
    position: fixed;
    margin-top: 0.3%;
    margin-left: 2.5%;
    scale: 0.9;
    cursor: pointer;

}
body
{
    margin-left: 10px;
    background-image: url("blondepic.jpg");
    background-repeat:no-repeat;
    background-position:top;
    background-size:contain;
    background-color:rgb(22, 22, 22);
    overflow-x: hidden;
}


.heading
{
    margin-top: 0.8%;
    margin-left: 10%;  
    position: fixed;
    cursor: pointer;
    color: aliceblue;
    font-family:sans-serif;
    font-weight:500;
    font-size:small;
    letter-spacing: 0;
    display: inline-block;

}
.heading:hover
{
  cursor: pointer;
}

.profile
{
    border-radius: 12%;
}
#myVideo 
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 50%;
  scale: 2;
}
  .bar
{
  margin-top: -1%;
  cursor: pointer;
}
  .content
{ 
  padding-left: 8%;
  padding-top: 9%;
  scale: 1.2;
  color: white;

}
 .text
{
  font-size:large;
  margin-left: 2%;
  font-weight: 600;
  font-family: sans-serif;

}
#mypic 
{ 
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 50%;
}
/* #mypic:click
{
  scale: 0;
}  */
.playbutton
{
  margin-top: 4.5%;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  /* color: black; */
  /* border: none; */
  padding: 8px 25px;
  /* text-align: center; */
  display: inline-block;
  border-radius: 8px;
}
.playbutton:hover
{
  opacity: 0.8;
}
.info
{
  margin-left: 20px;
  padding: 9px 10px;
  background-color: rgb(85,90,89);
  border-radius: 8px;
}
.info:hover
{
  opacity: 0.8;
}
.text1
{
  padding-top: 80px;
  margin-left: 40px;
  color: white;
}
h1
{
  font-size: x-large;
  font-family: sans-serif;
}
.poster1
{
  margin-left: 40px;
}
.text2
{
  padding-top: 20px;
  margin-left: 40px;
  color: white;
}
.card
{
  display: inline;
  /* padding-left: 10px; */
  margin-left: 10px;
}
img.card
{
  border-radius: 7px;
}
.card:hover
{
  transform: scale(1.1);
  transition-duration: 250ms;
  transition-delay: 150ms;
  padding-right: 10px;
  padding-left: 10px;
  /* padding: 0 2px; */
  margin: 0 10px;
  
}
/* .card:hover:after
{
    height: 280px;
} */
.heading-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.social-media {
  margin-top: 100px;
  margin-left : 450px;
  padding: 20px 0;
  /* text-align: center; */
  /* background-color: rgb(5, 5, 5); */
  text-decoration: none;
 

}
.bottom
{
  margin-left : 450px;
  font-size: small;
  line-height: 35px;
  font-family: sans-serif;
  color: grey;
}
.servicecode
{
  color: grey;
  margin-left : 450px;
  font-size: small;
  font-family: sans-serif;
  width:80px;
  color: grey;
  border:thin solid grey;
  padding-left:3px;padding-right: 3px; 
  align-items: center;
  margin-top: 40px;
}
.servicecode:hover
{
  color: #fff;
  cursor: pointer;
}
.copyright
{
  color: grey;
  margin-left : 450px;
  font-size: small;
  font-family: sans-serif;
}