.topnav {
  overflow:hidden;
}
.logo
{
  float: left;
  padding: 12.5px 40px;
}
/* .top
{
  background-color: black;
  position: fixed;
} */
.topnav a:hover {
text-decoration: underline;
}
.topnav li{
      float:left;
      list-style: none; 
      margin: 12px 30px;
      margin-left: -10px;
  }
.topnav li a{
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
}
.profile
{
  border-radius: 3px;
  margin-top: -11px;
}
body
{
  /* margin-left: 10px; */
  background-color:rgb(22, 22, 22);
  overflow-x: hidden;
  scroll-behavior:smooth;
}

#myVideo 
{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

  .content
{ 
  padding-left: 8%;
  padding-top: 11%;
  scale: 1.2;
  color: white;
  z-index: -2;

}
 .text
{
  font-size:large;
  margin-left: 2%;
  font-weight: 600;
  font-family: sans-serif;

}
#mypic 
{ 
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  zoom: 50%;
  z-index: -1;
}
.playbutton
{
  margin-top: 4.5%;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  padding: 8px 25px;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
.playbutton:hover
{
  opacity: 0.8;
}
.info
{
  margin-left: 20px;
  padding: 9px 10px;
  background-color: rgb(85,90,89);
  border-radius: 8px;
  cursor: pointer;
}
.info:hover
{
  opacity: 0.8;
}
.text1
{
  padding-top: 60px;
  margin-left: 40px;
  color: white;
}
h1
{
  font-size: x-large;
  font-family: sans-serif;
}
.poster1
{
  margin-left: 40px;
}
.text2
{
  padding-top: 20px;
  margin-left: 40px;
  color: white;
}
.card
{
  display: inline;
  margin-left: 10px;
}
img.card
{
  border-radius: 7px;
}
.card:hover
{
  transform: scale(1.1);
  transition-duration: 250ms;
  transition-delay: 150ms;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 10px;
}

/* .heading-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
} */
.social-media {
  margin-top: 100px;
  margin-left : 450px;
  padding: 20px 0;
  text-decoration: none;
}
.bottom
{
  margin-left : 450px;
  font-size: small;
  line-height: 35px;
  font-family: sans-serif;
  color: grey;
}
.servicecode
{
  color: grey;
  margin-left : 450px;
  font-size: small;
  font-family: sans-serif;
  width:80px;
  color: grey;
  border:thin solid grey;
  padding-left:3px;padding-right: 3px; 
  align-items: center;
  margin-top: 40px;
}
.servicecode:hover
{
  color: #fff;
  cursor: pointer;
}
.copyright
{
  color: grey;
  margin-left : 450px;
  font-size: small;
  font-family: sans-serif;
}
.card1
{
  width: 500%;
  overflow-x: auto;
}
.last img
{
  opacity: 0.2;
}
.arrow
{
  position: -100px;
}
